@import "font-awesome";
@import "materialize";

$size: 30px;
$height: $size / 8;
$margin: $size / 3.2;
$toggle: ($size + $margin*2) * 1.5; 

/*main colors*/
$route: #424242;
$gamebook: #3299BB;
$grey: #777;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background: #fff;
  color: $route;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.section {
  padding: 0;
  margin-bottom: 20px;
}

.container {
  margin: 0 30px 0 30px;
  .social-cards {
    float: right;
  }
}
.header-sticky-menu {
  border-top: 1px solid #c6c6c6;
  position: relative;
}

.site-title,
.site-description,
.social-cards {
  display: inline-block;
}

.site-description {
  @media (max-width: 800px) {
    display: none;
  }
}

.social-cards {
  font-size: 30px;
  margin: 18px 0;
  li {
    padding: 0 10px;
    .fa-facebook {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #3b5998;
      }
    }
    .fa-twitter {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #55acee;
      }
    }
    .fa-google-plus {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #dd4b39;
      }
    }
    .fa-rss {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #f26522;
      }
    }
  }
}

 .social-top,
 .menu-list {
    @media (max-width: $small-screen) {
      display: none;
    }
  }

.fa {
  height: 100%;
  width: 100%;
  color: $route;
}

ul {
  margin: 0;
}

li {
  display: inline-block;
  color: #777;
  font-weight: 600;
}

.site-title {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 0 10px 0 10px;
  a{
    color: $route;
  }
  @media (max-width: 626px) {
    font-size: 40px;
    height: 60px;
    margin-top: 10px;
  }
  @media (max-width: 476px) {
    font-size: 24px;
    margin-left: -30px;
    height: 40px;
    margin-top: 10px;
  }
}

.menu-list {
  &:first-child {
    padding-left: 0;
  }
  .menu-item {
    padding-left: 0;
  }
}

.menu-item {
  display: inline-block;
  a {
    padding: 16px 16px 16px 16px;
    color: $grey;
    transition-property:all .2s linear 0s;
	  -moz-transition:all .2s linear 0s;
	  -webkit-transition:all .2s linear 0s;
	  -o-transition:all .2s linear 0s;
    &:hover {
    color: $route;
    }
  }
}

.responsive-img {
  display: block;
}

.row .col,
.row {
  padding: 0;
  margin: 0;
}

.column {
  div {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin: 0 0 0 25px;
	padding: 0;
  }
  div:first-child {
    margin-left: 0;
  }
}

.column div:first-child {
	margin-left: 0;
}

.big-img {
	position: absolute;
  padding: 0 10px;
  margin: 0;
  top: 60%;
	z-index: 10;
	display: block;
	color: #fff;
	font-size: 36px;
	text-decoration: none;
	transition:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
  @media (max-width: $medium-screen) {
    top: 70%;
  }
  @media (max-width: 476px) {
    font-size: 30px;
    top: 55%
  }
}

.big-img-description {
  @extend .big-img;
  top: 80%;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 400;
  @media (max-width: 476px) {
    font-size: 20px;
    top: 70%;
  }
}

.big-img-date {
  @extend .big-img;
  top: 90%;
  font-size: 12px;
  font-weight: 400;
  background-color: $grey;
  border-radius: 20px;
  opacity: 0.7;
  margin-left: 10px;
  @media (max-width: 476px) {
    display: none;
  } 
}

.small-img {
  @extend .big-img;
  top: 50%;
  font-size: 20px;
  @media (max-width: $medium-screen) {
    font-size: 36px;
    top: 70%;
  }
  @media (max-width: 476px) {
    font-size: 30px;
    top: 55%
  }
}

.small-img-description {
  @extend .big-img-description;
  top: 70%;
  font-size: 16px;
  @media (max-width: $medium-screen) {
    font-size:20px;
    top: 80%;
  }
  @media (max-width: 476px) {
    top: 70%;
  }
}

.small-img-date {
  @extend .big-img-date;
  top: 85%;
  @media (max-width: $medium-screen) {
    top: 90%;
  } 
  @media (max-width: 476px) {
    display: none;
  } 

}

.small-img-hover {
  position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin: 0 0 0 25px;
	padding: 0;
  display: block;
}

.small-img-menu {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translte(-50%, -50%);
  margin: 0;
  color: #fff;
 
}

figure {
	width: 100%;
	height: auto;
  position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.img-hover figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	transition:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}

.img-hover figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  opacity: 0.9;
}

.news-thumb:hover .img-thumb {
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
  opacity: 0.9;
}

.big-img:hover .responsive-img {
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
  opacity: 0.9;
}

.container-featured {
  @extend .container;
  margin: 0 40px 20px 40px;
}

.title-hover {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: $gamebook;
}

.menu-hover-list {
  @extend .title-hover;
  li {
    display: block;
  }
}

.recent-posts-description {
  font-size: $size/2;
  margin: 10px 0 5px 10px;
}

.recent-posts-date {
  margin: 5px 0 0 10px;;
  font-size: 12px;
  font-weight: 400;
}

.menu-thumb {
  height: 50px;
}

/*Content*/
.section-title {
  padding-left: 10px;
  h2 {
    float: left;
    border-left: 6px solid $gamebook;
    border-right: 3px solid $gamebook;
    padding: 5px 10px;
    margin-right: 10px;
  }
  p {
    font-size: 14px;
    line-height: 80px;
    margin-top: 0;
  }
}

.news-thumb {
  position: relative;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.13);
}

.news-wrapper {
  padding: 0 10px 30px 10px !important;
}

.news-post-content {
  @extend .news-thumb;
  padding: 0 20px 10px 20px;
}

.category-name {
  background-color: $gamebook;
  color: #fff;
  padding: 5px 10px;
  top: -12px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 2px;
}

.news-category {
  h3 {
    margin: 0 0 10px 0;
  }
}

.news-post-tools ul li {
  color: $grey;
  font-size: 14px;
  display: inline-block;
  margin: 0 20px 10px 0;
  i {
    display: inline;
    margin-right: 5px;
  }
}

.half-border {
  h2 {
    border-right: 0px;
    margin-bottom: 35px;
  }
}

.widget {
  margin-bottom: 20px;
}

.social-links {
  clear: both;
  margin-left: 10px;
  .social-facebook {
  background: #3b5998;
  transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
  &:hover {
    opacity: 0.7;
  }
  }
  .social-googleplus {
  background: #d34836;
  transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
  &:hover {
    opacity: 0.7;
  }
  }
  .social-twitter {
  background: #4099FF;
  transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
  &:hover {
    opacity: 0.7;
  }
  }
  li {
    display: block;
    width: 100%;
    float: none;
    position: relative;
    margin-bottom: 10px;
    a{
     height: 40px;
     width: 100%;
     display: block;
    }
  }
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  margin: 8px 0 8px 45px;
  padding-left: 10px;
  border-left: 1px solid rgba(255,255,255,0.3);
  .count,
  .label {
    line-height: 23px;
  }
  .fa-plus {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    right: 6px;
    color: #fff;
    opacity: 0.7;
    width: 20px;
    bottom: 0;
    line-height: 25px;
  }
  .fa-facebook,
  .fa-twitter,
  .fa-google-plus {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    left: -30px;
    bottom: 0;
    line-height: 25px;
  }
}

.newsletter-form {
  clear: both;
  padding: 10px 10px;
  margin-left: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,.15);
  p {
    font-size: 14px;
    margin-top: 0;
  }
  form {
    .form-control {
      height: 40px;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      width: 85%;
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      padding: 0 10px 0 10px;
      &:focus {
        outline: none !important;
        border: 1px solid $gamebook;
      }
    }
    .btn-submit {
      width: 40px;
      height: 40px;
      position: absolute;
      background-color: $grey;
      border: 0;
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        background-color: $gamebook;
      }
      .fa-envelope-o {
        line-height: 35px;
        font-size: 20px;
        color: #fff;
      }
    }
  }
}

.sidebar-grid {
  padding-left: 10px;
  .small-post {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    .small-post-content {
      h3 {
        margin-top: 0;
      }
    }
    .sidebar-small-img {
      width: 85px;
      float: left;
      img {
        width: 100%;
          }
      } 
  }
}

.small-post-content {
  padding-left: 100px;
}
.news-post-small-tools {
  @extend .small-post-content;
  @extend .news-post-tools;
  h3 {
    font-size: 16px;

  }
}

.recent-widget {
  margin-top: -20px;
}


.big {
  height: 350px;
  width: 100%;
  .img-thumb {
    position: absolute;
    left: 0;
    top: -50%;
    } 
}

.news-post-big-content {
  padding: 20px 20px 0 20px;
}

.top-widget {
  margin-top: -20px;
  float: left;
  .top-author {
    width: 100%;
    margin-left: 10px;
    overflow: hidden;
    li {
      height: 70px;
      width: 70px;
      float: left;
      margin: 0 10px 10px 0;
      img {
        width: 100%;
      }
    }
  }
}
.pagination {
  text-align: center;
}

.pagination-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    .active {
          background-color: $gamebook;
          color: #fff;
        }
    li {
      display: inline;
      a{
        color: $route;
        float: left;
        padding: 8px 16px;
        margin: 0 0 0 10px;
        text-decoration: none;
        box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.14);
        border-radius: 100%;
        transition-property:all .2s linear 0s;
	      -moz-transition:all .2s linear 0s;
	      -webkit-transition:all .2s linear 0s;
	      -o-transition:all .2s linear 0s;
        @media (max-width: 340px) {
          margin-left: 5px;
        }
        &:hover:not(.active) {
          background-color: #ddd;
        }
      }
    }
}

.footer {
  background-color: $route;
  margin: 40px 0 0 0;
  color: #fff;
  overflow: hidden;
  textarea {
    width: 100%;
    margin: 0;
    border: 1px solid #676767;
    background-color: transparent;
    padding-left: 10px;
    transition-property:all .2s linear 0s;
	  -moz-transition:all .2s linear 0s;
	  -webkit-transition:all .2s linear 0s;
	  -o-transition:all .2s linear 0s;
    outline: none;
    &:hover {
      border: 1px solid #676767;
      border-bottom: 1px solid $gamebook;
    }
    &:focus {
      border-bottom: 1px solid $gamebook;
    }
  }
  input {
    @extend textarea;  
  }
  .contact-button {
    background-color: $grey;
    float: right;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 30px 10px 40px;
    transition-property:all .2s linear 0s;
	  -moz-transition:all .2s linear 0s;
	  -webkit-transition:all .2s linear 0s;
	  -o-transition:all .2s linear 0s;
    &:hover {
      background-color: $gamebook;
    }
    .fa {
      padding-left: 10px;
      color: #fff;
    }
  }
  .fa {
    color: #b7b7b7;
    display: inline;
    margin: 0 5px 0 0;
  }
  p {
    color: #9f9f9f;
    margin-bottom: 10px;
  }
  h3 {
    color: #b7b7b7;
  }
  ul {
   p {
     margin-top: 0;
     padding-bottom: 5px;
     font-weight: 400;
     border-bottom: 1px solid #676767;
   }
  }
  .col {
    padding: 0 10px 30px 10px;
  }
  .footer-site-title {
    @extend .site-title;
    padding: 0;
    color: #b7b7b7;
    text-align: center;
    margin: 0;
  }
  .twitter-last {
    @media (max-width: $medium-screen) {
      clear: both;
    }
  }
  .contact-info {
    li {
      display: block;
    }
  }
  .footer-logo {
    @media (max-width: $small-screen) {
      text-align: center;
    }
    a {
      @media (max-width: 321px) {
        font-size: 30px;
      }
    }
  }
  .social-bot {
    @media (max-width: $small-screen) {
      display: block;
      float: none;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
}

/*Hamburger Menu*/

/*button*/
.button {
	position:fixed;
	right:50px;
	top:15px;
	z-index:999;
	font-size:30px;
  padding: 0 10px 0 10px;
  a {
	  text-decoration:none;
  }
  @media (min-width: 921px) {
    display: none;
  }
  @media (max-width: 476px) {
    font-size: 20px;
    top: 12px;
    right: 30px;
  }
}
.btn-open:after {
  color: $gamebook;
	content:"\f0c9";
	font-family:"FontAwesome";
	transition:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:$gamebook;
  cursor: pointer;
}
.btn-close:after {
	color:#fff;
	content:"\f00d";
	font-family:"FontAwesome";
	transition:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	@extend .btn-open:hover:after;
}
/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
  left: 0;
	height:100%;
	width:100%;
	background:#333;
	overflow:auto;
	z-index:99;
}
.wrap {
	color:#e9e9e9;
	text-align:center;
	max-width:90%;
	margin:0 auto;
  .site-title-mobile {
    padding-top: 40px;
    a {
      @extend .site-title;
      font-size: 30px;
      color: #b7b7b7;
      text-align: center;
      margin: 0;
    }
  }
}
.wrap ul.wrap-nav {
	text-transform:capitalize;
	padding: 110px 0;
}
.wrap ul.wrap-nav li {
	font-size:20px;
	display:inline-block;
	vertical-align:top;
	width:16%;
	position:relative;
}
.wrap ul.wrap-nav li a {
	color:$gamebook;
	display:block;
	padding:8px 0;
	text-decoration:none;
	transition:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul {
	padding:20px 0;
}
.wrap ul.wrap-nav ul li {
	display:block;
	font-size:15px;
	width:100%;
	color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
	color:$gamebook;
}
@media screen and (max-width:48em) {
	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
		border-bottom:1px solid #575757;
	}
	.wrap ul.wrap-nav {
		padding:30px 0px 0px;
	}
	nav ul {
		opacity:0;
		visibility:hidden;
	}
}
.content {
	width:100%;
	margin-top:200px;
	font-size:20px;
	color:#333;
	text-align: center;
}

.dropbtn {
    color: $grey;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    padding: 16px;
    &:after {
    content: "\f0d7";
    float: none;
    font-size: 14px;
    line-height: 1.2em;
    font-family: FontAwesome;
    color: $grey;
    }  
    a {
    padding: 10px 16px 10px 16px;
    color: $grey;
    transition-property:all .2s linear 0s;
	  -moz-transition:all .2s linear 0s;
	  -webkit-transition:all .2s linear 0s;
	  -o-transition:all .2s linear 0s;
    &:hover {
    color: $route; 
    }
  }
}

.dropdown {
    display: inline-block;
    height: 100%;
    width: 100%;
    &:hover .dropdown-content {
    display: block;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    border-bottom: 2px solid $gamebook;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    z-index: 100;
    a {
    color: $grey;
    text-decoration: none;
    display: block;
    transition:all .2s linear 0s;
	  -moz-transition:all .2s linear 0s;
	  -webkit-transition:all .2s linear 0s;
	  -o-transition:all .2s linear 0s;
    font-weight: 600;
    }
    a:hover {
    color: $route;
    }
}

/*CONTACT*/

.contact-form-page {
  padding-right: 10px !important;
  form,
  p {
    padding-left: 10px;
  }
  input {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid $route;
    margin-top: 10px;
    outline: none;
    transition-property:all .2s linear 0s;
	  -moz-transition:all .2s linear 0s;
	  -webkit-transition:all .2s linear 0s;
	  -o-transition:all .2s linear 0s;
    &:hover {
      border-bottom: 5px solid $gamebook;
    }
    &:focus {
      border: 0;
      border-bottom: 5px solid $gamebook;
    }
  }
  textarea {
    @extend input;
    height: 200px;
  }
  .contact-button {
    background-color: $grey;
    float: right;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 30px 10px 40px;
    transition-property:all .2s linear 0s;
	  -moz-transition:all .2s linear 0s;
	  -webkit-transition:all .2s linear 0s;
	  -o-transition:all .2s linear 0s;
    color: #fff;
    &:hover {
      background-color: $gamebook;
    }
    .fa {
      padding-left: 10px;
      color: #fff;
      display: inline;
    }
  }
}

/*POST*/

.news-post-page {
  position: relative;
  p {
    line-height: 24px;
  }
}

.quotation {
  margin-left: 60px;
  .fa-quote-right {
    font-size: 40px;
    position: absolute;
    left: -30px;;
    top: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: $gamebook;
    text-align: center;
    line-height: 65px;
    color: #fff;
  }
  h3 {
      padding: 10px 20px 10px 40px;
      line-height: 30px;
      @media (max-width: 476px) {
        font-size: 18px;
        line-height: 20px;
      }
      @media (max-width: 390px) {
        font-size: 14px;
        line-height: 20px;
      }
  }
}

.share-list {
  border-top: 1px solid rgba(0,0,0,0.24);
  border-bottom: 1px solid rgba(0,0,0,0.24);
  height: 70px;
  @media (max-width: 447px) {
    height: 140px;
  }
  i {
    margin-top: 8px;
    margin-right: 5px;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
    line-height: 35px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
 
  }
  .fa-facebook {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #3b5998;
      }
    }
    .fa-twitter {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #55acee;
      }
    }
    .fa-google-plus {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #dd4b39;
      }
    }
    .fa-instagram {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #e95950;
      }
    }
    .fa-pinterest-p {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #cb2027;
      }
    }
    .fa-youtube {
      transition-property:all .2s linear 0s;
	    -moz-transition:all .2s linear 0s;
	    -webkit-transition:all .2s linear 0s;
	    -o-transition:all .2s linear 0s;
      &:hover {
        color: #bb0000;
      }
    }
}

.author-info {
  margin-top: 20px !important;
  position: relative;
  .author-photo {
    img {
      position: absolute;
      left: -55px;;
      top: 15px;
      height: 110px;
      width: auto;   
      border-radius: 50%;
      @media (max-width: 440px) {
        height: 70px;
        left: -35px;;
        top: 15px;
      }
    }
  }
    h3, p {
      padding: 10px 20px 10px 70px;
      @media (max-width: 440px) {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 20px 10px 40px;
      }
    }
    h3 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
}

.reply-form {
  @extend .contact-form-page;
  textarea {
    height: 140px;
  }
}

.reply-button {
  @extend .contact-button;
  padding: 10px 30px !important;
}


